body {
  background-color: lightgray;
}

.header {
  margin-top: 30px;
  text-align: center;
}

.nav-primary {
  color: #fff;
  background-color: #0f5c54;
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
  height: 80px;
  margin-bottom: 50px;
}

.nav-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  color: #fff;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav-inner a {
  font-size: 30px;
  color: #fff;
  margin: 15px;
  width: 100%;
}

.icon {
  height: 90%;
}

.content {
  margin: 15px auto;
  padding: 15px;
}

.wing-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  text-align: center;
}

.card-header {
  text-align: center;
}

.running-total {
  color: red;
  font-weight: bold;
}

.btn {
  margin: 5px;
}
