body {
  background-color: lightgray;
}

.header {
  margin-top: 30px;
}

.nav-primary {
  color: #fff;
  background-color: #0f5c54;
  box-shadow: 0 0 0.8125rem 0 rgba(0, 0, 0, 0.75);
  height: 80px;
}

.nav-inner {
  height: 100%;
  color: #fff;
  max-width: 1200px;
  margin: 0 auto;
}

.icon {
  height: 100%;
}
